
{% extends 'base.html' %}
{%load static%}


{% block main %}
{% endblock %}
{% block img %}
<h1 class="h1Menu">Nuestro Menú</h1>
<div class="cont">
    <div class="fondoMenu">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/almendras.jpg'%}" alt="" class="foto">
            </div>
            <div class="category"> Platillo </div>
            <div class="heading"> Pollo a la Almendra
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/arrozfrito.jpg'%}" alt="" class="foto">
            </div>
            <div class="category"> Acompañamiento </div>
            <div class="heading"> Arroz Frito
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/cerdoagridulce.jpg'%}" alt="" class="foto">
            </div>
            <div class="category"> Platillo </div>
            <div class="heading"> Cerdo Agridulce
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/chowmein.jpg'%}" alt="" class="foto">
            </div>
            <div class="category"> Acompañamiento </div>
            <div class="heading"> Chowmein  
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static 'img/gatotempura.jpg'%}" alt="" class="foto">
            </div>
            <div class="category"> Platillo </div>
            <div class="heading"> Gato Tempura
            </div>
        </div>
    </div>
    <div>
        <form action="" method="post" name="mqtt" id="frmContacto">
            {% csrf_token %}
            <select name="asunto">
                <option value="p_almendra">Pollo Almendra</option>
                <option value="fried_rice">Arroz Frito</option>
                <option value="bitsweet_pork">Cerdo Agridulce</option>
                <option value="chow_mein">Chowmein</option>
                <option value="fried_car">Gato Tempura</option>
            </select>
            <button name="mqtt" type="submit" value="1">Publish</button>
        </form>
    </div>

    <div>
        <form action="" method="post" name="mqtt" id="frmContacto">
            {% csrf_token %}
            <select name="asunto">
                <option value="p_almendra">Pollo Almendra</option>
                <option value="fried_rice">Arroz Frito</option>
                <option value="bitsweet_pork">Cerdo Agridulce</option>
                <option value="chow_mein">Chowmein</option>
                <option value="fried_car">Gato Tempura</option>
            </select>
            <button name="mqtt" type="submit" value="2">Suscribe</button>
        </form>
    </div>
    <div>
            {% for element in context %}
                {% if element.value == '1' %}
                    <h3>You have published into this topic {element.topic}</h3>
                {% if element.value == '2' %}
                    <h3>You are now suscribed to this topic {element.topic}</h3>
                {% endif %}
            {% endfor %}>
    </div>
</div>
{% endblock %}
